# Core (CPU-friendly for deployment)
torch
torchaudio

# Coqui XTTS
TTS

# Web app
streamlit

# Audio processing
librosa
soundfile
pydub

# Data + utils
numpy
pandas
tqdm

# ML / similarity
scikit-learn

# HuggingFace (required internally by XTTS sometimes)
transformers

# Resampling (important for audio)
resampy